#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling of the entire body */
  font-family: Arial, sans-serif; /* Adjust as needed */
}

.larger-vert-body > div {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fff; /* to fill, at least */
  border: 2px solid rgb(109, 109, 109);
  border-radius: 8px;
}

.feedbacklink {
  flex: 1;
  text-align: right;
  padding: 0.5em;
}

.logo {
  max-width: 50px; /* Adjust the width as needed */
  max-height: 50px; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and text */
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

/*
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*/

/* Holds the content element and the map element */
.content-and-map {
  display: flex;
  flex-direction: row;
}

/* Holds the row of buttons element and the rooms list element*/
.content {
  display: block;
  position: relative;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 0.5em;
}

/* Holds the row of buttons and text containers above the rooms list*/
.buttons-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 20px;
}

/* Holds the map element */
.map-container {
  display: flex;
  align-items: center;
}

/* Dimensions of the map image */
.map {
  max-width: 700px;
  max-height: 500px;
}

/* Contains the elements for the "display map" button and the "floor select" dropdown menu */
.floorbutton-and-mapdisplay {
  display: flex;
  flex: row;
  align-items: center;
  gap: 5px;
}

/* defines the border to hold the dropdown selections for floor select */
.dropdown-options {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(109, 109, 109);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#ceCircle {
  position: relative;
  background-color: #4cff00;
  margin: 2px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#leCircle {
  position: relative;
  background-color: #7fff00;
  margin: 2px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#peCircle {
  position: relative;
  background-color: #ccff00;
  margin: 2px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#uCircle {
  position: relative;
  background-color: #ffff00;
  margin: 2px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#poCircle {
  position: relative;
  background-color: #ffbb00;
  margin: 2px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#loCircle {
  position: relative;
  background-color: #ff6a00;
  margin: 2px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#coCircle {
  position: relative;
  background-color: #ff0000;
  margin: 2px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.menu-heading-button {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 5px;
}
